<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        
<link rel="stylesheet" href="css/homepage.css">
<link rel="stylesheet" href="font/all.css">
<script src="font/all.js"> </script>    
</head>
<body>


<header>
    <a href="/" class="logo"><img src="/img/logo4.png" alt=""></a>
    <div class="bx bx-menu" id="menu-icon"><i class="fa-solid fa-bars"></i></div>

    <ul class="navlist">
        <li><a href="/"><i class="fa-solid fa-house"></i>&nbsp; Home</a></li>

        <li>

            <div class="dropdown" style="float:right;">
                <a class="dropbtn"><i class="fa-solid fa-right-to-bracket"></i>&nbsp; Login</a>
                <div class="dropdown-content">
                    <a href="/patient_login"><i class="fa-solid fa-bed"></i>&nbsp;Patient</a>
                    <a href="/donor_login"><i class="fa-solid fa-hand-holding-droplet"></i> &nbsp;Donor</a>
                    <a href="/admin_login"><i class="fa-solid fa-user"></i>&nbsp; Admin</a>
                </div>
        </li>

        <li><a href="#about"><i class="fa-solid fa-users"></i>&nbsp; About Us</a></li>
        <li><a href="#portfolio"><i class="fa-solid fa-phone"></i> &nbsp;Contact Us</a></li>
    </ul>
</header>
</body>
</html>