<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/homepage.css">
    <link rel="stylesheet" href="font/all.css">
    <script src="font/all.js"> </script>

</head>

<body>


    <header>
        <a href="#" class="logo"><img src="/img/logo4.png" alt=""></a>
        <div class="bx bx-menu" id="menu-icon"><i class="fa-solid fa-bars"></i></div>

        <ul class="navlist">
            <li>
                <form action="/p_logout" method="post" style=" border: 1px solid #ddd; padding: 5px 10px;">

                    <i class="fa-solid fa-right-to-bracket"></i>

                    <button class="dropbtn" id="click"
                        style="color: black;font-weight: 600; padding: 5px;font-size: 1.2rem;">Logout
                    </button>

                </form>
            </li>
        </ul>
    </header>
</body>

</html>