<%- include('../includes/header.ejs') %>

<div class="sidenav" style="margin-top: 100px">
    <a id="adash">Dashboard</a>
    <a id="apatient">Make Request</a>
    <a href="#clients">Request History</a>
</div>