<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/donation.png" type="image/x-icon" />
    <title>404 | DonateLife</title>
    <style>
        div {
            max-width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-repeat: no-repeat;
            background-size: contain;

        }

        img {
            width: 45%;
            height: auto;
        }
    </style>
</head>

<body>

    <div class="header">
        <%- include('./includes/_header2.ejs')%>
    </div>
    <div style="margin-top: 3rem;">
        <img src="img/404page1.svg" alt="">
    </div>
</body>

</html>