<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="icon" href="/img/donation.png" type="image/x-icon" />
    <title>About us | DonateLife</title>
</head>

<body>

    <!-- header  -->
    <%- include('./includes/_header2.ejs')%>
        <!-- /header -->
        <div class="wrapper">
            <div class="background-container">
                <div class="bg-1"></div>
                <div class="bg-2"></div>

            </div>
            <div class="about-container">

                <div class="image-container">
                    <img src="/img/team3.svg" alt="">

                </div>

                <div class="text-container">
                    <h1>About us</h1>
                    <p>We Provide the safest blood units. We also provides online status of bloodgroup wise availability
                        of
                        blood units.<br> Also the system handling the information of patient and donor about the blood
                        request,
                        blood donation, blood stock. We are also organizing the blood donation camps at near by places
                        and
                        remote places too.
                    </p>
                </div>

            </div>
        </div>


</body>

</html>