<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title> Contact Us | DonateLife </title>
    <link rel="stylesheet" href="css/cus.css">
    <link rel="stylesheet" href="./bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!-- header  -->
    <%- include('./includes/_header2.ejs')%>
        <!-- /header -->


        <div class="container">
            <div class="content">
                <div class="image-box">
                    <img src="img/help.svg" alt="">
                </div>
                <form action="#">
                    <div class="topic">Send us a message</div>
                    <div class="input-box">
                        <input type="text" required>
                        <label>Enter your name</label>
                    </div>
                    <div class="input-box">
                        <input type="text" required>
                        <label>Enter your email</label>
                    </div>
                    <div class="message-box">
                        <textarea id="" cols="30" rows="10"></textarea>
                        <label>Enter your message</label>
                    </div>
                    <div class="input-box">
                        <input type="submit" value="Send Message">
                    </div>
                </form>
            </div>
        </div>
</body>

</html>