<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/font/all.js">
    <link rel="icon" href="/img/donation.png" type="image/x-icon" />
    <title>Document</title>
</head>

<body>

    <!-- header  -->
    <%- include('./includes/_header2.ejs')%>
        <!-- /header -->

        <main>
            <article class="faq-card">

                <div class="faq__content">
                    <h1 class="faq__title">FAQ</h1>
                    <div class="faq__item">
                        <h2 class="faq__question">Why should I donate blood ? <img class="arrow-icon"
                                src="img/icon-arrow-down.svg" alt="" aria-hidden=“true”></h2>
                        <p class="faq__answer">You have to donate blood yourself to find out. By Blood donation you
                            greatly
                            contribute towards a healthier, happier society by making available safe blood. Any one may
                            need
                            blood at any time may be ourselves or our near ones. You also benefit in other ways by
                            donating
                            blood as it reduces the chances of ischemic heart diseases.</p>
                    </div>
                    <div class="faq__item">
                        <h2 class="faq__question">How often can I donate Blood ?<img class="arrow-icon"
                                src="img/icon-arrow-down.svg" alt="" aria-hidden=“true”></h2>
                        <p class="faq__answer">After every three –four months you can donate blood.
                        </p>
                    </div>
                    <div class="faq__item">
                        <h2 class="faq__question">What should I eat before blood donation?
                            <img class="arrow-icon" src="img/icon-arrow-down.svg" alt="" aria-hidden=“true”>
                        </h2>
                        <p class="faq__answer">The eligible donors should be between 18 to 60 years of age, having a
                            healthy
                            pattern of lifestyle The body weight should be above 45 kgs. The haemoglobin should be above
                            12.5 g%.</p>
                    </div>
                    <div class="faq__item">
                        <h2 class="faq__question">What are the eligibility criteria of blood donation ??<img
                                class="arrow-icon" src="img/icon-arrow-down.svg" alt="" aria-hidden=“true”></h2>
                        <p class="faq__answer">Yes! Send us a message and we’ll process your request no questions asked.
                        </p>
                    </div>
                    <div class="faq__item">
                        <h2 class="faq__question">Are their any side effects of Blood donations ?<<img
                                class="arrow-icon" src="img/icon-arrow-down.svg" alt="" aria-hidden=“true”>
                        </h2>
                        <p class="faq__answer">There are no side effects of blood donation. The Blood bank staff ensures
                            that your blood donation is a good experience as far as possible to enable you to become a
                            repeat and a regular blood donor. There are a number of people who have donated more
                            tha25-100
                            times in their life time
                        </p>
                    </div>
                </div>

                <div class="imgs__container">
                    <img src="img/faqs.svg" alt="">

                </div>

            </article>
        </main>

        <script src="/js/app.js"></script>
</body>

</html>