@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}



#dash {

  margin-top: 10rem;
}

.main {
  max-width: 1200px;
  margin: 0px 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

h2 {

  font-size: 3rem;
  text-align: center;
  color: #fff;
}

img {
  height: auto;
  width: 30%;
  padding: 1rem;
  vertical-align: middle;
  margin: .5rem 0;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 750px) {
  .cards_item {
    width: 50%;
    height: auto;
  }
}

@media (min-width: 950px) {
  .cards_item {
    width: 30%;
    height: auto;
  }
}


@media (min-width: 1024px) {
  .cards_item {
    width: 25%;

  }
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  gap: 1;
  width: 300px;
  height: 300px;
  margin-bottom: 1rem;
  border: 1px solid #DDD;
  text-align: center;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  /* margin-top: 100px; */
  padding: 1.5rem;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;

  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 1.25rem;
  font-weight: 400;
}



.made_by {
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}

.card_image {
  /* height: 100px; */
  font-size: 2.5rem;
  padding: 1.2rem;
  text-align: center;
  margin-top: 1.2rem;
  color: red;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}